@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

:root{
    --nutmeg-- : hsl(14, 45%, 36%);
    --raspberry-- : hsl(332, 51%, 32%);
    --white-- : hsl(0, 0%, 100%);
    --lightgrey-- : hsl(330, 100%, 98%);
    --wedgebrown-- : hsl(30, 10%, 34%);
    --darkcharcoal-- : hsl(24, 5%, 18%);
    --eggshell-- : hsl(30, 54%, 90%);
    --rosewhite-- : hsl(330, 100%, 98%);
}

*{
    margin: 0;
}

body{
    background-color: var(--eggshell--);
    height: 100vh;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
    
}
.recipe-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{

    
    background: var(--white--);
    width: 575px;
    height: 1175x;
    border-radius: 10px;
    padding: 20px;
}

img{
    width: 575px;
    height: 260px;
    border-radius: 10px;
}

.title, .subheading{
    font-family: 'Young Serif', serif;
    font-weight: normal;
}
.title{
    color: var(--darkcharcoal--);
    margin-top: 15px;
    text-align: left;
}

.subheading{
    color: var(--nutmeg--);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

p, li{
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: var(--wedgebrown--);
}

h4{
    font-family: 'Outfit', sans-serif;
    color: var(--raspberry--);
}

.info{
    margin-top: 10px;
    background-color: var(--rosewhite--);
    padding: 20px;
    border-radius: 10px;
}

li{
    margin-left: -20px;
    padding: 5px;
}
.prep-info{
    color: var(--raspberry--);
}

.imp{
    font-weight: bold;
    color: var(--wedgebrown--);
}

.text{
    color: var(--wedgebrown--);
}

ol li::marker {
    color: var(--nutmeg--);
    font-weight: bold;
}

hr{
    opacity: .4;
}

.nut{
    margin-top: 10px;
    margin-bottom: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.item{
    width: 50%;
}

tr{
    color: var(--wedgebrown--);
    font-family: 'Outfit', sans-serif;
}

.num{
    color: var(--nutmeg--);
}
tr:nth-child(1){
    border-bottom: .4px solid;
}

tr:nth-child(2){
    border-bottom: .4px solid;
}
tr:nth-child(3){
    border-bottom: .4px solid;
}
tr:nth-child(4){
    padding-bottom: 50px;
}
td{
    padding: 10px;
}